  header{ font-size: 75%;
    text-align: center;
  }
.container{ 

  width: 100%;
height: 97vh;
min-height: 97vh;
  
}
.divv{ position: relative;
 float:left;
  border: 2px solid black;
  

  
}
.container h1{
 font: 75%
 background-color: yellow;
 top: 0;
 right: 0;
 
}


@media screen and (min-width:992px){
  .divv{
    width: 30%;
    
    margin:20px 18px;
  }
 
}
@media screen and (max-width:767px){
  .divv{
    width: 97%;
    min-height: 28vh;
    margin:7px 4px;
    
  }

}
@media screen and (min-width:767px) and (max-width :991px){
  .divv{
    width: 47%;
    min-height: 15vh;
    margin: 9px ;
  }
  .divv3{
    width: 97%;
  }
  
}
.divv-v{ top: 0;
right: 0;
font-size: 75%;
text-align: center;
  width: 100px;
    border: 2px solid black;
  background: pink;
  position: absolute;
  height: 20px;
}
.divv p{
  
  width: auto;
  word-wrap: wrap;
 margin: 1.7rem 4% 4% 4%; 
  text-align: center;
  background: lightgrey;
  font-size: 1%;
}
  
  .divv h2{
    font-size: 25%;
  
  }